<!-- Takes in an items array and prints them to a nice bar for browsing. -->

<% //Returns the system tag that has the key 'Title'
  function getTitle(tag) {
    return tag.key == "title";
  } %>

<div class="list-group scrollable">
  <% if (items.length) {%>
  <% items.forEach(function(item){ %>
  <a onclick="loadItem(<%= JSON.stringify(item) %>)" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <% if(item.sysTags.length > 0) {%>
        <h5 class="mb-1"><%= item.sysTags.find(getTitle).value %></h5>
      <%} else {%>
        <h5 class="mb-1">"No Title"</h5>
      <%}%>

      <!-- Date formatting -->
      <small>Last Modified: <%= item.revisionDate.getHours() + ":"
        +  item.revisionDate.getMinutes() + " " + item.revisionDate.getDate()
        + "/" + item.revisionDate.getMonth() + "/" + item.revisionDate.getFullYear() %>
      </small>
    </div>
    <p class="mb-1"><%= item.content %></p>
    <small> <!--List tags-->
      <%for (var userTag in item.userTags){%>
        <%=item.userTags[userTag] + ", "%>
      <%}%>
    </small>
  </a>
  <% }) %> <!--foreach item-->
</div> <!--End List-->
<% } %>
