<!-- Takes in an nodes array and prints them to a nice bar for browsing. -->

<% //Returns the system tag that has the key 'Title'
  function getTitle(tag) {
    return tag.key == "title";
  } %>

<div class="list-gritemoup scrollable">
  <% console.log("Nodes after sending:");
     console.log(nodes);
     console.log("length: " + nodes.length);

   if (nodes.length) {%>
  <% nodes.forEach(function(node){
    var revisionDate = new Date(node.revisionDate);
    console.log("node in loop")
    console.log(node);
    console.log(revisionDate.getHours() + ":"
      +  revisionDate.getMinutes() + " " + revisionDate.getDate()
      + "/" + revisionDate.getMonth() + "/" + revisionDate.getFullYear());
    %>

  <a onclick="loadNode(<%= JSON.stringify(node) %>)" class="list-group-item list-group-item-action flex-column align-nodes-start">
    <div class="d-flex w-100 justify-content-between">
      <% if(node.sysTags.length > 0) { %>
        <h5 class="mb-1"><%= node.sysTags.find(getTitle).value %></h5>
      <%} else {%>
        <h5 class="mb-1">"No Title"</h5>
      <%}%>

      <!-- Date formatting -->
      <small>Last Modified: <%= revisionDate.getHours() + ":"
        +  revisionDate.getMinutes() + " " + revisionDate.getDate()
        + "/" + revisionDate.getMonth() + "/" + revisionDate.getFullYear() %>
      </small>
    </div>
    <p class="mb-1"><%= node.content %></p>
    <small> <!--List tags-->
      <%for (var userTag in node.userTags){%>
        <%=node.userTags[userTag] + ", "%>
      <%}%>
    </small>
  </a>
  <% }) %> <!--foreach node-->
<% } else {%> <!--Handle no node situation-->
  <a class="list-group-item list-group-item-action  align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <p>No Content found, please use the editor on the right to add some! </p>
    </div>
  </a>
<% } %>
</div> <!--End List-->
